@{
    var reg = Resx.SharedStrings.reg;
    var login = Resx.SharedStrings.login;
    var logout = Resx.SharedStrings.logout;
    
}
@if (Request.IsAuthenticated)
{
    <text>
        Здравствуйте, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username"})!
        @Html.ActionLink(logout, "Logout", "Account")
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink(reg, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
